fluxtreamcapture/development
fluxtreamcapture/release
fluxtreamcapture/forge-error.log
fluxtreamcapture/.template
fluxtreamcapture/.lib

modules/fc_gallery/.trigger
modules/fc_gallery/inspector/an-inspector.*
modules/fc_gallery/inspector/an-inspector/ForgeModule/bin
modules/fc_gallery/inspector/an-inspector/ForgeModule/gen
modules/fc_gallery/inspector/an-inspector/ForgeModule/trigger-gen
modules/fc_gallery/inspector/an-inspector/ForgeInspector/bin
modules/fc_gallery/inspector/an-inspector/ForgeInspector/gen

nbproject

