<ion-view title="Make Observation">
    <ion-content>
        <div class="list">
            <a href="#/makeObservation/{{topic.id}}" data-ng-repeat="topic in topics" class="item">
                <h2>{{topic.name}}</h2>
            </a>
        </div>
    </ion-content>

    <!-- Footer -->
    <div id="footer" class="bar bar-footer bar-dark">
        <a id="footer-left" href="#/history" class="button button-clear pull-left"><i class="icon ion-ios7-time-outline"></i></a>
        <!-- <div class="title">Title</div> -->
        <a id="footer-right" href="#/editTopics" class="button button-clear pull-right"><i class="icon ion-ios7-information-outline"></i></a>
    </div>

</ion-view>
