<ion-view title={{name}}>

    <ion-nav-bar class="nav-title-slide-ios7 bar-dark">

        <ion-nav-buttons side="right">
            <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>

    </ion-nav-bar>

    <ion-content>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Value
                </div>
                <select>
                    <option>1</option>
                    <option selected>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
            </label>

            <label class="item item-input">
                <div class="input-label">
                    Date
                </div>
                <input type="date">
            </label>

            <label class="item item-input">
                <div class="input-label">
                    Time
                </div>
                <input type="time">
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Timezone
                </div>
                <select>
                    <option selected>Eastern Standard Time</option>
                    <option>Central Time Zone</option>
                    <option>Mountain Time Zone</option>
                    <option>Pacific Time Zone</option>
                </select>
            </label>

            <label class="item item-input">
                <textarea rows="10"></textarea>
            </label>
        </div>
    </ion-content>

    <!-- Footer -->
    <div id="footer" class="bar bar-footer bar-dark">
        <a id="footer-left" href="#/makeObservation" class="button button-clear pull-left">Cancel</a>
        <!-- <div class="title">Title</div> -->
        <a id="footer-right" href="#/makeObservation" class="button button-clear pull-right">Save</a>
    </div>

</ion-view>
