<ion-view title="Photo Upload">
  
  <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
    <a ui-sref="{{ backLink }}" class="button button-clear pull-left"><i class="ion-chevron-left"></i> Back</a>
    <ion-nav-buttons side="right">
      <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  
  <ion-content>
    <ul class="list" ng-if="isAndroid">
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="settings.upload_portrait" ng-change="save('portrait')">
        </label>
        Upload portrait photos automatically
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="settings.upload_landscape" ng-change="save('landscape')">
        </label>
        Upload landscape photos automatically
      </li>
    </ul>
    <ul class="list" ng-if="!isAndroid">
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="settings.upload_portrait" ng-change="save('portrait')">
        </label>
        Upload portrait photos automatically
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="settings.upload_upside_down" ng-change="save('upside_down')">
        </label>
        Upload upside-down photos automatically
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="settings.upload_landscape_left" ng-change="save('landscape_left')">
        </label>
        Upload landscape left photos automatically
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="settings.upload_landscape_right" ng-change="save('landscape_right')">
        </label>
        Upload landscape_right photos automatically
      </li>
    </ul>
  </ion-content>
</ion-view>

<!-- Footer -->
<ion-footer-bar class="bar-positive">
</ion-footer-bar>