<ion-view title="Photo Upload">
  
  <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
    <a ui-sref="{{ backLink }}" class="button button-clear pull-left"><i class="ion-chevron-left"></i> Back</a>
    <ion-nav-buttons side="right">
      <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  
  <ion-content class="padding">
    <div ng-if="photoAccessDenied" class="empty-list padding">
      You have not allowed this app to access your photos. Change your device's privacy settings to automatically upload photos.
    </div>
    <div ng-if='!photoAccessDenied'>
      <div class="padding text-center">
        Select which photos will be automatically uploaded.
      </div>
      <ul class="list" ng-if="isAndroid">
        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox" ng-model="settings.upload_portrait" ng-change="save('portrait')">
          </label>
          Portrait photos
        </li>
        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox" ng-model="settings.upload_landscape" ng-change="save('landscape')">
          </label>
          Landscape photos
        </li>
      </ul>
      <ul class="list" ng-if="!isAndroid">
        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox" ng-model="settings.upload_portrait" ng-change="save('portrait')">
          </label>
          Portrait photos
        </li>
        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox" ng-model="settings.upload_upside_down" ng-change="save('upside_down')">
          </label>
          Upside-down photos
        </li>
        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox" ng-model="settings.upload_landscape_left" ng-change="save('landscape_left')">
          </label>
          Landscape left photos
        </li>
        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox" ng-model="settings.upload_landscape_right" ng-change="save('landscape_right')">
          </label>
          Landscape right photos
        </li>
      </ul>
      <div class="padding text-center">
        Enable the following to allow upload on data connection. If disabled, photos will only be uploaded on wifi connection.
      </div>
      <ul class="list">
        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox" ng-model="settings.upload_on_data_connection" ng-change="saveAndApplyPrefs()">
          </label>
          Upload on data connection
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>

<!-- Footer -->
<ion-footer-bar class="bar-positive">
</ion-footer-bar>