<ion-view title="{{ pageTitle }}">
  <ion-nav-bar class="nav-title-slide-ios7 bar-dark">
    <a ui-sref="photoUpload" class="button button-clear pull-left"><i class="ion-chevron-left"></i> Back</a>
    <ion-nav-buttons side="right">
      <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="flx-reload-icon" ng-if="!photoSrc"></div>
    <div class="photo-preview">
      <img src="{{ photoSrc }}" style="-webkit-transform: rotate({{ orientationTag }}deg);">
    </div>
    <div class="photo-metadata" ng-if="photoSrc">
      <a ui-sref="photoMetadata({photoId: photoId})" class="photo-metadata-edit"><i class="icon ion-edit"></i></a>
      <p ng-if="metadata.comment">Comment: {{ metadata.comment }}</p>
      <p ng-if="metadata.tags.length">Tags: <span ng-repeat="tag in metadata.tags">{{ tag }} </span></p>
    </div>
  </ion-content>
</ion-view>

<!-- Footer -->
<ion-footer-bar class="bar-dark">
  <a id="footer-right" ui-sref="photoMetadata({photoId: photoId})" class="button button-clear pull-right"><i class="icon ion-edit"></i></a>
</ion-footer-bar>
