<ion-view title="Photo Upload">
  <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
    <a ui-sref="listTopics" class="button button-clear pull-left"><i class="ion-chevron-left"></i> Back</a>
    <ion-nav-buttons side="right">
      <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content flx-scroll="onScroll()">
    <div class="flx-reload-icon" ng-if="!loaded && !photoAccessDenied"></div>
    <div ng-if="photoAccessDenied" class="empty-list padding">
      You have not allowed this app to access your photos. Change your device's privacy settings to see your photos here.
    </div>
    <div ng-if="loaded && !photoAccessDenied">
      <!-- Photo list -->
      <div class="list photo-list">
        <div class="photo-wrapper"
             collection-repeat="photo in photos"
             collection-item-width="'33.3333%'"
             collection-item-height="getCollectionItemHeight()">
          <div class="photo-image" ui-sref="photoPreview({photoId: photo.id})"
            style='background-image:url("{{ photo.src }}"); -webkit-transform: rotate({{ photo.orientation_tag }}deg)'>
          </div>
          <div class="photo-info">
            <p ng-if="photo.upload_status == 'uploaded'" class="photo-status-uploaded">
              <span class="ion-checkmark-round"></span>
            </p>
            <p ng-if="photo.upload_status == 'pending'" class="photo-status-uploading"></p>
            <p ng-if="photo.upload_status == 'failed'" class="photo-status-failed">
              <span class="ion-load-d"></span>
            </p>
            <p ng-if="photo.upload_status == 'uploading'" class="photo-status-uploading"></p>
            <p ng-if="photo.upload_status == 'deleting'" class="photo-status-uploading"></p>
            <p ng-if="photo.upload_status == 'none'">
              <button class="button button-stable button-fair button-small upload-photo-button" ng-click="uploadPhoto(photo)">
                <i class="ion-ios7-cloud-upload-outline"></i>
              </button>
            </p>
          </div>
          <div class="delete-photo-button-wrapper">
            <button class="button button-stable button-fair button-small" ng-click="deletePhoto(photo)" ng-if="showDeleteButton(photo)">
              <i class="ion-ios7-trash-outline"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- End of photo list -->
    </div>
  </ion-content>
</ion-view>

<!-- Footer -->
<ion-footer-bar class="bar-positive">
  <h1 class='title' style='line-height: 100%; padding-top: 6px;'>
    <a ng-click='showConnectionStatus()'>
      <img src='./img/icons/offline.png' height='80%' ng-if="!internetReachable"/>
    </a>
  </h1>
  <a id="footer-right" ui-sref="photoUploadSettings" class="button button-clear pull-right"><i class="icon ion-gear-b"></i></a>
</ion-footer-bar>
