<ion-view title="Photo Upload">
  <ion-nav-bar class="nav-title-slide-ios7 bar-dark">
    <a ui-sref="listTopics" class="button button-clear pull-left"><i class="ion-chevron-left"></i> Back</a>
    <ion-nav-buttons side="right">
      <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content flx-scroll="onScroll()">
    <div ng-if="loaded">
      <!-- Photo list -->
      <div class="list padding">
        <div class="photo-wrapper"
             collection-repeat="photo in photos"
             collection-item-width="'33.3333%'"
             collection-item-height="165"
             ng-style="{height: 165}">
          <div class="photo-image" ui-sref="photoPreview({photoId: photo.id})"
                 style='background-image:url("{{ photo.src }}");'>
            </div>
          <div class="photo-info">
            <p ng-if="photo.upload_status == 'uploaded'" class="photo-status-uploaded">
              <span class="ion-checkmark-round"></span>
            </p>
            <p ng-if="photo.upload_status == 'pending'" class="photo-status-pending">
              <span class="ion-load-d"></span>
            </p>
            <p ng-if="photo.upload_status == 'failed'" class="photo-status-failed">
              <span class="ion-load-d"></span>
            </p>
            <p ng-if="photo.upload_status == 'uploading'" class="photo-status-uploading">
              <span class="ion-loading-d"></span>
            </p>
            <p ng-if="photo.upload_status == 'none'">
              <button class="button button-stable button-fair button-small" ng-click="uploadPhoto(photo)">
                Upload
              </button>
            </p>
          </div>
        </div>
      </div>
      <!-- End of photo list -->
    </div>
    <div ng-if="!loaded">
      <p>
        Loading your photos...
      </p>
    </div>
  </ion-content>
</ion-view>

<!-- Footer -->
<ion-footer-bar class="bar-dark">
  <a id="footer-right" ui-sref="photoUploadSettings" class="button button-clear pull-right"><i class="icon ion-gear-b"></i></a>
</ion-footer-bar>