<ion-view title="Heart Rate">
  <ion-nav-bar class="nav-title-slide-ios7 bar-dark">
    <a ui-sref="listTopics" class="button button-clear pull-left"><i class="ion-chevron-left"></i> Back</a>
    <ion-nav-buttons side="right">
      <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div ng-if="serviceEnabled">
      <div style="text-align: center; font-size: 2em; font-weight: bold; margin-top: 5px;">
        <p>Heart rate : {{ heartRate }}</p>
        <p>RR : {{ rr }}</p>
      </div>
      <p ng-if="!deviceConnected && !deviceLocked">Scanning for heart rate monitor</p>
      <p ng-if="!deviceConnected && deviceLocked">Looking for locked device XX45X34</p>
      <a ng-click="lockDevice" ng-if="deviceConnected && !deviceLocked">LOCK</a>
      <a ng-click="unlockDevice" ng-if="deviceLocked">UNLOCK</a>
      <p>
        Upload status:
        {{ uploadStatus || "No data uploaded" }}
        <span ng-if="uploadStatus == 'synced'">{{ getLastSyncDistanceInWords() }} </span>
      </p>
      <p style="height: 300px; background: #E5E5E; overflow: hidden;">
        History:<br />
        <span ng-repeat="log in historyLogs">
          {{ log.message }} <br />
        </span>
      </p>
      <button class="button button-block button-positive" ng-click="disableService()">Disable</button>
    </div>
    <div ng-if="!serviceEnabled">
      <p>Enable this to connect your bluetooth heart rate monitor to this app.</p>
      <button class="button button-block button-positive" ng-click="enableService()">Enable</button>
    </div>
  </ion-content>
</ion-view>

<!-- Footer -->
<ion-footer-bar class="bar-dark">
  <a id="footer-right" ui-sref="heartRateSettings" class="button button-clear pull-right"><i class="icon ion-gear-b"></i></a>
</ion-footer-bar>