<ion-view title="Heart Rate">
  <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
    <a ui-sref="listTopics" class="button button-clear pull-left"><i class="ion-chevron-left"></i> Back</a>
    <ion-nav-buttons side="right">
      <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="flx-reload-icon" ng-if="loading"></div>
    <div ng-if="!serviceEnabled && !loading && bluetoothLESupported" class="padding empty-list">
      <p>Enable monitoring to connect your bluetooth heart rate monitor to this app.</p>
      <button class="button button-block button-positive" ng-click="enableService()">Enable monitoring</button>
    </div>
    <div ng-if="!serviceEnabled && !loading && !bluetoothLESupported" class="padding empty-list">
      <p>Sorry. Bluetooth Low Energy is not supported on this device.</p>
    </div>
  </ion-content>
  <div ng-if="serviceEnabled" class="heart-rate-enabled">
    <div class="flx-reload-icon" ng-if="!deviceConnected"></div>
    <div class="heart-rate-data">
      <div ng-if="deviceConnected || heartRate || rr">
        <p class="heart-rate-bpm">Heart rate : {{ heartRate }} bpm</p>
        <p class="heart-rate-beat-spacing">Beat spacing : {{ rr }} ms</p>
      </div>
    </div>
    <div class="padding heart-rate-locker">
      <div ng-if="deviceConnected && !deviceLocked" ng-click="lockDevice()">
        <div class="heart-rate-lock-icon">
          <a><i class="ion-unlocked icon"></i></a>
        </div>
        <div class="heart-rate-lock-text">
          <p>You can bind this HR monitor to make sure this app will only connect to it in the future.</p>
        </div>
      </div>
      <div ng-if="deviceLocked" ng-click="unlockDevice()" >
        <div class="heart-rate-lock-icon">
          <a ng-if="deviceLocked"><i class="ion-locked icon""></i></a>
        </div>
        <div class="heart-rate-lock-text">
          <p ng-if="deviceConnected">This HR monitor is bound to the app. Unbind it if you want to connect to another monitor.</p>
          <p ng-if="!deviceConnected">This app is bound to a specific HR monitor. You must unbind it to connect to another monitor.</p>
        </div>
      </div>
    </div>
    <div ng-if="showHistory" class="heart-rate-history">
      <p><strong>History (debug mode):</strong></p>
      <p ng-repeat="log in historyLogs">
        {{ log.message }} <br />
      </p>
    </div>
  </div>
  <div class="padding heart-rate-disable-button" ng-if="serviceEnabled">
    <button class="button button-block button-assertive" ng-click="disableService()">
      Disable monitoring
    </button>
  </div>
</ion-view>

<!-- Footer -->
<ion-footer-bar class="bar-positive">
  <h1 class='title heart-rate-status-bar'>{{ getUploadStatusInWords() }}</h1>
</ion-footer-bar>
