<ion-view title="{{ coachName }}">
  
  <ion-nav-bar class="nav-title-slide-ios7 bar-dark">
    <a ui-sref="selectCoach" class="button button-clear pull-left"><i class="ion-chevron-left"></i> Back</a>
    <ion-nav-buttons side="right">
      <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  
  <ion-content class="has-footer">
    <div class="padding">
      <div class="coach-details">
        <div class="coach-photo">
          <img src="{{ coach.photoURL || 'img/avatar-dummy.png' }}">
        </div>
        <div class="coach-selected" ng-if="coach.isOwnCoach">
          <span class="ion-checkmark-circled"></span>
        </div>
        <div class="coach-name">
          {{ coach.fullname }}
        </div>
        <div class="coach-cat">{{ coach.coachCategory }}</div>
        <div class="coach-location">{{ coach.location }}</div>
        <div class="actions float-right">
          <button class="button button-positive button-small padding-left padding-right float-right" ng-click="loadCoachConnectorSharing()" ng-if="coach.isOwnCoach">
            Shared data <i class="ion-ios7-arrow-right" style="margin-top:1px;"></i>
          </button>
          <br />
          <button class="button button-assertive button-small padding-left padding-right float-right" ng-click="removeCoach()" ng-if="coach.isOwnCoach">
            Remove
          </button>
          <button class="button button-positive button-small padding-left padding-right" ng-click="selectCoach()" ng-if="!coach.isOwnCoach">
            Add coach
          </button>
        </div>
        <div class="coach-description">
         {{ coach.profilePresentation || "No description" }}
        </div>
      </div>
    </div>
  </ion-content>
  
  <!-- Footer -->
  <div class="bar bar-footer bar-dark">
  </div>
  
</ion-view>
