<ion-view title="Settings: Connectors">
  
  <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
    <a ui-sref="settings" class="button button-clear pull-left"><i class="ion-chevron-left"></i> Back</a>
    <ion-nav-buttons side="right">
      <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  
  <ion-content class="has-footer">
    <div class="flx-reload-icon" ng-if="!connectors.length"></div>
    <ion-list>
      <div class="padding">
        <ion-item class="card connector-card" ng-repeat="connector in connectors" ng-click="installConnector(connector)">
          <div class="card-content-wrap">
            <!-- Connector status icon -->
            <div class="connector-status-icon">
              <!-- Installed -->
              <span class="ion-record connector-status-up" ng-if="connector.installed && !connector.loading && connector.status == 'STATUS_UP'"></span>
              <span class="ion-record connector-status-down" ng-if="connector.installed && !connector.loading && connector.status == 'STATUS_PERMANENT_FAILURE'"></span>
              <span class="ion-record connector-status-temporarily-down" ng-if="connector.installed && !connector.loading && connector.status == 'STATUS_TRANSIENT_FAILURE'"></span>
              <span class="ion-clock connector-status-temporarily-down" ng-if="connector.installed && !connector.loading && connector.status == 'STATUS_OVER_RATE_LIMIT'"></span>
              <span class="ion-record connector-status-up" ng-if="connector.installed && !connector.loading && connector.status == 'SYNCHING'"></span>
              <!-- Installing -->
              <span class="connector-loading" ng-if="connector.installed && connector.loading"></span>
              <!-- Not installed -->
              <span ng-if="!connector.installed"></span>
            </div>
            <!-- Connector image -->
            <div class="connector-image">
              <img src="{{ connector.image }}" />
            </div>
            <!-- Connector name -->
            <p class="connector-name">{{ connector.name }}</p>
            <!-- Installed -->
            <div class="card-actions" ng-if="connector.installed">
              <!-- Installed -->
              <div class="action-left padding connector-remove" ng-click="uninstallConnector(connector); $event.stopPropagation();">
                <i class="ion-ios7-close-empty"></i> Remove
              </div>
              <!-- Installed and synchronizing -->
              <div class="action-right padding connector-sync" ng-if="!connector.syncing">
                <i class="ion-ios7-reload"></i> 
                <button class="btn-no-style" ng-click="synchronizeNow(connector); $event.stopPropagation();"> Sync now</button>
              </div>
              <!-- Installed and not synchronizing -->
              <div class="action-right padding connector-sync" ng-if="connector.syncing">
                <span class="connector-loading"></span>
              </div>
            </div>
            <!-- Not installed -->
            <div class="card-actions connector-installing" ng-if="!connector.installed">
              <!-- Loading -->
              <div class="action padding connector-remove" ng-if="connector.loading" ng-click="uninstallConnector(connector); $event.stopPropagation();">
                <span class="connector-loading"></span>
              </div>
              <!-- Not installed -->
              <div class="action padding" ng-if="!connector.loading">
                <span ng-if="connector.installable">
                  <i class="ion-ios7-cloud-download-outline"></i> Install
                </span>
                <span ng-if="!connector.installable" class="connector-install-manually">
                  Please install manually from website
                </span>
              </div>
            </div>
          </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
  
  <!-- Footer -->
  <div class="bar bar-footer bar-positive">
  </div>
  
</ion-view>
